<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.gsky.globe">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="org.chromium.content_shell.permission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.amazon.webview" android:required="false"/>
        <activity
            android:name=".FullscreenActivity"
            android:keepScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.chromium.content.app.SandboxedProcessService0" android:process=":sandboxed_process0"
            android:permission="org.chromium.content_shell.permission.SANDBOX" android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService1" android:process=":sandboxed_process1"
            android:permission="org.chromium.content_shell.permission.SANDBOX" android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService2" android:process=":sandboxed_process2"
            android:permission="org.chromium.content_shell.permission.SANDBOX" android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService3" android:process=":sandboxed_process3"
            android:permission="org.chromium.content_shell.permission.SANDBOX" android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService4" android:process=":sandboxed_process4"
            android:permission="org.chromium.content_shell.permission.SANDBOX" android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService5" android:process=":sandboxed_process5"
            android:permission="org.chromium.content_shell.permission.SANDBOX" android:exported="false" />
    </application>
</manifest>